* {
    margin: 0;
    padding: .4rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: azure;
}

.containeer {
    width: 0;
    height: 0;
    padding-top: 10rem;
}

h2 {
    font-size: 40px;
    color: rgb(73, 73, 179);
    padding-left: 36rem;
}

#screen {
    width: 20rem;
    height: 3rem;
    border: 0.2rem solid black;
    margin-left: 33rem;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
}

.btn {
    padding-left: 33rem;
}

button {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    color: #8f1515;
    font-size: large;
    font-weight: bold;
    background-color: #fff;

}

button:hover {
    background-color: rgb(170, 183, 208);
}